<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Awareness.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Awareness.Settings>
            <setting name="IsFirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxActivitySeconds" serializeAs="String">
                <value>3600</value>
            </setting>
            <setting name="MinBreakSeconds" serializeAs="String">
                <value>300</value>
            </setting>
        </Awareness.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727" sku="Client"/></startup></configuration>
